body {
	background-color: black;
}

/** Background **/

.main {
	background-color: white;
	margin-top: 1.000em;
	padding-left: .909em;
	min-width: 10.909em;
	height: 4.545em;
	position: relative;
	z-index: 1;
}

/** RYU!!!! **/

.ryu {
	width: 5.991em;
	height: 4.491em;
}

.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('images/ryu-throwing-hadouken.png');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url('images/ryu-throwing-hadouken.png');
	width: 1.418em;
	height: .818em;
	display: none;
	float: left;
	position: absolute;
	top: 1.518em;
	left: 4.727em;
	z-index: 10;
}










